<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>간단한 웹 앱 만들기 테스트용도</h1>
    <div>
        <a href="/A">A로 이동</a>
    </div>
    <div>
        <a href="/B">B로 이동</a>
    </div>    
    <hr>
    <ol>
        <li>
            heroku로 디플로이 하는거 성공 했는가???? <input type="checkbox" checked>
        </li>
        <li>
            RN으로 패키징 웹애플리케이션에 대해서 성공했는가???? <input type="checkbox">
        </li>
        <li>
            내가 구매한 URL로 사이트 주소 연동하는것 성공 했는가???? <input type="checkbox">
        </li>

        <li>
            깃허브랑 헤로쿠를 연동하여 즉각적으로 서버에 코드가 적용 가능도록 했는가???? <input type="checkbox">
        </li>
    </ol>
</body>
</html>